html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * =============================================================================
 * HEADER
 * =============================================================================
*/
header {
  width: 100%;
  height: auto;
}

/*
 * =============================================================================
 * MAIN
 * =============================================================================
*/
main {
  width: 100%;
}

/*
 * =============================================================================
 * FOOTER
 * =============================================================================
*/
footer {
  width: 100%;
}
